@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* এখন Public Sans হবে default sans font */
  --font-sans: var(--font-public-sans);

  /* চাইলে Geist Mono রেখে দাও */
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

  /* এখানে variable দিয়ে font family বসবে */
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.background {
  background-image: url("https://i.ibb.co.com/mFqPVkKX/Vector-1.png"),
    url("https://i.ibb.co.com/ZRVZh23Y/Vector-7621.png");

  background-size: 150px auto, 420px auto;

  background-position: top center, bottom right;

  background-repeat: no-repeat, no-repeat;
}

.build-for-everyone {
  background-image: url("https://i.ibb.co.com/DD41MSL6/Frame-2147227474.png");
  background-size: 200px auto;
  background-repeat: no-repeat;

  /* Horizontal first, vertical second */
  background-position: calc(50% + 100px) bottom; /* center + 50px right, bottom aligned */
}

.background-footer {
  background-image: 
    url("https://i.ibb.co.com/8FVZb3c/Vector-3.png"),
    url("https://i.ibb.co.com/4kMtdXz/Vector-2.png"),
    url("https://i.ibb.co.com/0R9PCYd1/Vector-4.png");

  /* image size individually */
  background-size: 250px auto, 250px auto, 80px auto;

  /* image position individually */
  background-position: top right, bottom right 150px, bottom right;

  /* no-repeat for all */
  background-repeat: no-repeat, no-repeat, no-repeat;

 
}

